@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFPRODISPLAYBOLD';
    src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
}

.title-header {
    font-family: 'SFPRODISPLAYBOLD';
}

.divider {
    width: 100%;
    height: 1px;
    margin-bottom: 12px;
}

.standard-links {
    /* Base styles for all <a> tags */
    a {
        text-decoration: underline;
        /* Adds underline to make it look like a link */
        cursor: pointer;
        /* Changes the cursor to a pointer */
        color: inherit;
        /* Inherit color from parent element, change as needed */
        font-weight: 500;
        /* Adjust font weight for visibility */
        transition: color 0.2s ease, text-decoration-color 0.2s ease;
        /* Smooth transition */
    }

    /* Hover state */
    a:hover {
        text-decoration: none;
        /* Remove underline on hover */
        color: inherit;
        /* Change the color on hover (customize as needed) */
    }

    /* Focus state */
    a:focus {
        outline: 2px solid #303030;
        /* Adds an outline for keyboard accessibility */
        outline-offset: 1px;
        /* Adds some spacing between text and outline */
    }

    /* Active state */
    a:active {
        text-decoration: underline;
        /* Underline on active click */
    }

    /* Visited links */
    a:visited {
        color: inherit;
        /* Customize as needed */
    }

}
